@media only screen and (min-width: 50em) {

    h1 {
       
        font-size: 2.75rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    section h3{
        font-size: 1.25rem;    
        
    }
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section:nth-child(3){
        grid-column: span 1;
     }

}