@media only screen and (min-width: 50em) {

    h1 {
       
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    img {
      width: 50%;
    }

    ul{
      font-size:1em;
    }

    ul.person{
      font-size: .6em;
    }
    /* section h3{
        font-size: 1.5rem;    
        
    } */
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section:nth-child(3){
        grid-column: span 1;
     }

     .topnav .icon {
        display: none;
      }

      .topnav a.icon {
        /* float: left; */
        display: none;
    }
    section.colors {
      grid-template-columns: repeat(5, 1fr);
      
    }

      /* .topnav a {
        float: left;
        display: block;
      } */

      .topnav a:not(:first-child) {display: block;}
      /* .topnav a.icon {
        float: left; */
        /* display: none; */
      /* } */

      .topnav a:nth-child(4)  {
        display: none;
    }
      .topnav.responsive {display:none;}
  .topnav.responsive .icon {
    display:none;
  }
  section > div {
        
    font-size: 1em;
  }

  section.personas {
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
   }

   section.personas img {
    width: 80%;
  }
  section.personas div p {

    font-size: .6em;
   }

}