/* @media only screen and(min-width:44rem) { */
    @media (min-width:1024px) {

    .container {              
        grid-template-areas:
          "header header header"
          "left-side content right-side"
          "footer footer footer";
      
        grid-template-columns: 1fr 2fr 1fr;
        /* grid-template-rows: auto 1fr auto; */
        grid-gap: 10px;
      
        height: 100vh;
      }

    h1 {
		font-size: 1.75rem
	}

  div#greet.row {
    
    font-size: 1rem;
    /* color: #f5f5f5ff; */
   
  }

  .site-header h1 {
    font-size: 1.25rem;
 
   }
   .hero-text h2{
     font-size:1.5rem;
   }
 
   .hero-container .hero-text {
     
       height: 30%;
       /* opacity: .6; */
   }
	
	#hamButton {
		display: none; /* hide hamburger button */
	} 
	
	.navigation {
		flex-direction: row;
	}
  nav {
    grid-column: 2/3;
    grid-row: 1/2;
  }
	
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}

    header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2.3rem;
		margin: 0;
	}

    /* .logo img {
        width: 250px;
        height: auto;
    } */
    .logo {
      
      /* height: 200px;
      width: 200px; */

      height: 150px;
      width: 150px;
      margin: 15px;
    }
    .social {
      flex-direction: row;
      grid-column: 3/4;
    }
    .main-grid {
      grid-template-columns: repeat(4, 1fr); 
   grid-template-columns:  1fr 2fr 1fr;
      grid-template-areas:
          'left-sidebar main-content right-sidebar';
  }  
  li {
    font-size: 22px;
  }

	.holy-grail-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'left-sidebar main-content main-content right-sidebar';
    }

    .fa {
      
      width: 20px;
      
    }
    
    .footer img {
      width:200px;
    }

}
