   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   * body {
     font-family: 'IBM Plex Serif', serif;
     font-size: 18px;
     line-height: 1.5;
   }

   h1,
   h2 {
     text-align: center;
     color: #f5f5f5ff;
   }

   h1 {
     font-size: 1.15rem;
   }

   h2 {
     font-size: 1rem;
   }
   h3{
    font-size: 1.15rem;
   }

   .container {
     display: grid;
     grid-template-areas:
       'header'
       'main-content'
       'left-side'
       'right-side'
       'footer';
    }


   header {
     background-color: #1b546aff;
     display: grid;
     grid-template-columns: 5fr 1fr 1fr;
     align-items: center;
     justify-content: center;
     /* padding: 20px 20px 0px 20px; */
   }

   header,
   nav,
   div.main-grid,
   footer {
     max-width: 1200px;
     margin: 0 auto;
   }

   .site-header {
     display: flex;
     flex-flow: row;
     width: 100%;
     padding: 20px 20px 0px 20px;
   }

   .site-header h1 {
     padding: 10px 10px;

   }

   div#greet.row {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: .75rem;
     /* color: #f5f5f5ff; */
     grid-column: 1/4;
     background-color: #f9a03fff;
     padding: 5px;
   }

   .main-grid {
     display: grid;
     grid-template-areas:
       'main-content'
       'left-sidebar'
       'right-sidebar';
     /* grid-template-columns: minmax(max-content, 900px) minmax(200px, 1fr) 150px; */
     grid-gap: 10px;
     align-items: center;
     justify-content: center;
     font-size: 1.0rem;
     /* padding: 1rem;
     margin: 20px; */
     margin: 10px;
   }

   .main-grid>* {
     padding: 1rem;

   }

   div.main-grid {
     padding-right: 10px;
   }

   .main-grid>.main-content {
     grid-area: main-content;
     background: #fff;
     height: 100%;
     width: 100%;
     padding: 10px;
     margin: 5px;

   }

   .main-grid>.left-sidebar {
     grid-area: left-sidebar;
     /* background: #00bcd4; */
     height: 100%;
   }

   .main-grid>.right-sidebar {
     grid-area: right-sidebar;
     /* background: #00bcd4; */
    height: 99.9%;;
    margin-top: 20px;
   }

   .visit-container{
         
       padding: 0 10px;
      margin:1rem 8rem;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: #f9a03fff;
   }
   

   .discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f5f5f5ff;
    border: 2px solid #1b546aff;
  }

  .discover-container {
    /* position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 65% */
    background-color: #f5f5f5ff;
    /* border: 2px solid #061217; */
    padding: 10px;
    height: fit-content;
    width:100%;
  }

  .discover picture{
    align-self: center;
  }
  
  .discover picture img {
    max-width: 100%;
  }
  
  .discover img[data-src] {
    filter: blur(0.2em);
  }
  
  .discover img {
    filter: blur(0em);
    transition: filter 1s;
  }

  .discover-container p{
    margin: 20px;
  }
  .discover-container h1{
    color: #c3423fff;
    font-size: 1.5rem
  }

   .section-img-profile {
     /* width: 17%; */
     width: 100%;
     height: 100%;
     object-fit: cover;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
   }

   .weather-img, img#weather-icon {
     width: 150px;
     height: auto;
     float: left;
   }

   .weather {
    /* display: grid; */
    text-align: center;
    /* grid-template-columns: 1fr 2fr; */
   }

   .temp {
    margin-bottom: 10px;
margin-left: 15px;
   }

   /* picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  } */

   .event-img,
   .spotlight-img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
   }

   
   
   .section {
     position: relative
   }

   section #title {

     position: absolute;
     bottom: 12%;
     right: 0px;
     padding-right: 15px;
     padding-top: 10px;
     width: 100%;
     height: 1.75em;
     background-color: #7ed957;
     text-align: right;
   }

   #hero {
     /* height: 50%;
     background-color: #00bcd4;
     margin: 10px 0; */
     position: relative;
     max-width: 800px;
     /* Maximum width */
     margin: 0 auto;
     /* Center it */
   }

   .hero-container {
     position: relative;
     max-width: 980px;
     margin: 0 auto;
     height: 65%
   }

   .hero-container img {
     vertical-align: middle;
     width: 100%;
     height: 100%;
   }

   .hero-container .hero-text {
     position: absolute;
     bottom: 0;
     /* background: rgb(0, 0, 0); */
     /* Fallback color */
     /* background: rgba(0, 0, 0, 0.5); */
     /* Black background with 0.5 opacity */
     color: #f1f1f1;
     /* width: 100%; */
     padding: 20px;
     top: 8px;
     left: 16px;
     right: 16px;
     height: 20%;
     /* opacity: .6; */
   }

   .hero-image {
     /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/armidale_mountains.jpg"); */
     background-image: url("images/armidale_mountains.jpg");
     height: 50%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
   }

   button.join {
     border: none;
     outline: 0;
     display: inline-block;
     padding: 10px 25px;
     color: black;
     background-color: #7ac74fff;
     /* text-align: center; */
     cursor: pointer;
     position: absolute;
     /* top: 50%; */
     left: 50%;
     transform: translate(-50%, -50%);
     bottom: 20px;
   }



   #join button {
     color: black;
     background-color: #7ac74fff;
     /* padding: 10px 25px; */
     position: relative;
     top: 20px;
     /* right:80%; */
     /* left: 50%; */
     /* transform: translate(-50%, -50%); */
     /* bottom: 20px; */
   }

   button:hover,
   #join button:hover {
     background-color: #c3423fff;
     color: white;
   }

   a.info-link {
     text-decoration: none;
     color: black;
   }

   

   .main-grid section {
     margin: 5px;
     padding: 5px;
     /* background-color: #f5f5f5ff; */
     border-color: #7ac74fff;
   }

   section h2 {
     color: #f9a03fff;
     ;
     /* color:#f9a03fff; */
     /* position: absolute; */
     bottom: 0;
     background: #1b546aff;
     /* Fallback color */
     /* background: rgba(0, 0, 0, 0.5); */
     /* Black background with 0.5 opacity */
     color: #f1f1f1;
     /* width: 100%; */
     padding: 10px 0px;
     /* top: 8px;
     left: 16px;
     right: 16px;
     height: 20%; */
     /* opacity: .6; */
   }

   section p {
     text-align: center;
   }

   .sm-image{
    display: inline-block;
   } 

   .med-image, .lrg-image{
    display: none; 
   }

   p#p-left {
    text-align: left;
  }
  section#weather ul{
    margin:10px;
    font-size:16px;
  }
  figure{
  display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid; */
    margin: 1em 40px;
  }

  p.source {
    font-size: .75em;
    margin-top:20px;
  }
   #spotlight h2 {
     color: #c3423fff;
     /* color:#f9a03fff; */
     position: absolute;
     background: rgb(0, 0, 0);/* Fallback color */
     background: rgba(0, 0, 0, 0.5);
     
     background-color: #000;
     opacity: .6;
     /* color: white;
        padding-left: 20px;
        padding-right: 20px; */
   }

   #spotlight img {
     vertical-align: middle;
   }

   .hero-text h2 {
     color: #f5f5f5ff;
     background: rgba(0, 0, 0, 0.5);
   }

   #news {
     height: 50%;
     /* background-color: #00bcd4; */
     margin: 10px 0;
   }

   #hero,
   #news,
   #join,
   #event,
   #weather,
   #w,
   section.right-sidebar {
     background-color: #f5f5f5ff;
     border: 2px solid #061217;
     padding: 10px;
     height: fit-content;
     width: 100%;
   }





   #time {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: .75rem;
     color: #f5f5f5ff;
     grid-column: 1/4;
     /* background-color: #061217; */
     background: rgba(0, 0, 0, 0.5);
     padding: 10px;
   }

   .logo {
     display: flex;
     align-items: center;
     margin-left: 1rem;
     padding: 10px;
     height: 100px;
     width: 100px;
   }

   .logo img {
     width: 80px;
     height: auto;
   }

   .headings {
     display: flex;
     flex-direction: column;
     margin-left: .5rem;
     padding: 10px;
   }

   .fa {
     padding: 10px;
     font-size: 20px;
     width: 20px;
     text-align: center;
     text-decoration: none;
     margin: 5px 2px;
     border-radius: 50%;
     box-sizing: content-box;
   }





   .fa:hover {
     opacity: 0.7;
   }


   .fa-linkedin {
     background: #007bb5;
     color: white;
   }

   .fa-youtube {
     background: #bb0000;
     color: white;
   }

   .fa-facebook {
     background: #3B5998;
     color: white;
   }

   .fa-twitter {
     background: #55ACEE;
     color: white;
   }



   .social {
     /* margin-right: 1.5rem; */
     width: 100%;
     padding: 10px;
     display: flex;
     flex-direction: column;
   }

   .social .sIcon {
     width: 42px;
     /* height: auto; */
     position: relative;
     top: 5px;
     left: 5px;
   }

   nav {

     grid-column: 1/4;
   }


   #hamButton {
     margin: 0.2rem 2vw;
     background: transparent;
     border: none;
     font-size: 2rem;
     color: #fff;
     padding: 0px 5px;
   }

   #hamburgerBtn span:nth-child(1) {
     display: block
   }

   #hamburgerBtn span:nth-child(2) {
     display: none
   }

   #hamburgerBtn.open span:nth-child(1) {
     display: none
   }

   #hamburgerBtn.open span:nth-child(2) {
     display: block
   }

   .navigation {
     display: flex;
     /* flex-direction: row; */
     flex-direction: column;
     list-style: none;
     background-color: #1b546aff;
   }

   .navigation li {
     display: none;
   }

   .navigation li a {
     padding: 1.15rem;
     display: block;
     text-align: center;
     text-decoration: none;
     color: #f5f5f5ff;
   }

   .navigation li a:hover {
     background-color: #f5f5f5ff;
     color: #333;
     font-weight: 700;
   }

   /* when the button is clicked - the responsive class is added and accounted for here */
   .navigation.responsive li {
     display: block;
     width: 100%;
   }

   .navigation.responsive li a {
     display: block;
   }

   
   #copy {
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-size: 1rem;
     color: #f5f5f5ff;
     margin-left: 1rem;
     padding: 10px;
   }

   #location {
     display: flex;
     height: 200px;
     align-items: center;
     justify-content: space-between;
     margin: 10px;
     padding: 10px;
   }

   *,
   *:before,
   *:after {
     box-sizing: border-box;
   }

   /*----------- FORM --------------*/
 form {
  width: 80%;
font-family: Nowy, sans-serif;
margin: 0 5%;
max-width: 1100px;
 }
 
   form fieldset {
  margin: 2rem 0;
  border: 1px solid #1b546aff;
  /* border-radius: 10px; */
  padding: .5rem 2%;
}
form legend {
  color: #1b546aff;
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: block;
  /* padding-top: 1rem; */
  color: rgb(41, 35, 34);
  font-size: .8rem;
}

form label.top input, form label.top select, form textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  /* border-radius: 4px; */
  padding: .75rem;
  color: #555;
  width:100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
}

.join-content h1 {
  color:#c3423fff;
  margin-top:10px;
}

.join-content p{
  text-align:center;
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
}

form label.mlevel {
  display: block;
  padding: .75rem 0;
  color: #555;
  font-size: .9rem;
}

form input.submitBtn {
  border:none;
  background-color: #7ac74fff;
  color:white;
  /* border-radius: 1rem; */
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form input.submitBtn:hover {
  background-color: #c3423fff;
  color: white;
}

form label.top input:required {
  border-left: #c3423fff solid 6px;
}

form label.top input:required:valid {
  border-left: g#7ac74fff solid 6px;
}

table {
	/* margin: 10px auto; */
	border: thin solid hsla(0,0%,20%,.8);
	/* box-shadow: 0 0 10px hsl(0,0%,50%); */
	border-collapse: collapse;
  margin: 10px auto;
}

.mtable table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: .5px;
  font-family: sans-serif;
  font-size: 0.6rem;
}

.table td, th {
  /* border: 1px solid rgb(190, 190, 190); */
/* padding: 10px; */
padding: 5px 5px;
	border: 1px solid hsla(0,0%,33%,.3);
}


.table th {
	background-color: hsla(9deg 81.43% 32.2% / 72%);
	font-size: x-large;
}

.table td {
	text-align: center;
    font-size: 1.35rem;
    font-weight: 600;
    
}
tbody td {
  padding: 10px;
}

tbody tr:nth-child(odd) {
	background-color: hsl(0, 0%, 93%, 1);
}

.check {
    display: inline-block;
    transform: rotate(45deg);
    height: 20px;
    width: 10px;
    border-bottom: 7px solid #7ac74fff;
    border-right: 7px solid #7ac74fff;
  }

  .crossmark {
    display: inline-block;
    
    color: 7px solid #c3423fff;
    font-size: 15px;
  }



caption {
  padding: 10px;
  caption-side: bottom;
	color: #c3423fff;
	font-size: .85rem;
}

tr:first-child th, .highlight {
	background-color: #c3423fff;
	color: hsla(0,0%,100%,1);
    height:50px;
}

tr:nth-child(2) th, .highlight {
	background-color: hsla(9deg 81.43% 32.2% / 72%);
	color: hsla(0,0%,100%,1);
    height:50px;
}

tr:nth-child(2) th.top {
	background-color: #c3423fff;
	color: hsla(0,0%,100%,1);
    height:50px;
}

form .member {
  display: grid;
grid-template-rows: auto auto;
}
div.mradio {
  grid-row: 1/2;
margin: 2%;
padding: 10px;
/* place-self: center; */
/* border: 2px solid black; */
border: thin solid hsla(0,0%,20%,.8);

}

div.mtable {
  grid-row: 2/3;
/* margin: 4%; */
} 

/*----------- DIRECTORY --------------*/  
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.cards section {
  margin: 0.25rem;
  padding: 0.35rem;
  /* background-color: #eee; */
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards section > p {
  /* min-height: 60px; */
  padding:3px;
}

.cards section h2 {
  background-color: #7ac74fff; 
  color: rgb(2, 29, 39);
  border-bottom: 1px solid #eee;
  text-align: center;
  margin: 0 0 1rem 0;
	 border-bottom: 1px solid #bbb;
   padding: 0.3em; 
   width:100%;
}
cards section h3 {
	font-size: 1.5rem;
}

cards section p {
	font-weight: 600;
	font-size: smaller;
}

cards section a {
	
	font-size: 0.85rem;
	color: #f9a03fff;
	letter-spacing: 1.1pt;
}

cards img {
	height: 75px;
	max-width: 100%; 
}


/* .list {
	display: flex;
	flex-direction: column;
} */

.list section {
	/* display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr ; */
	margin: 0;
	padding: 0.25rem;
  border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h2 {
	background-color: #7ac74fff;
    color: rgb(2, 29, 39);
    /* border-bottom: 1px solid #eee; */
    /* text-align: center; */
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #bbb;
    padding: 0.3em;
    color:none;
}

/* .list section:nth-child(even) {
	background-color: #bed;
} */

.cards section img {
	height: 65px;
	max-width: 75%; 
}

.dirBtn {
  text-align: center;
  margin: 10px;
}

#listBtn, #gridBtn{
  height:50px;
  padding: 10px;
}
 article.cards a {
  color: #1b546aff;
  font-weight:bold;
 }

 article.cards a:visited {
  color: #7ac74fff;
}

/* mouse over link */
article.cards a:hover {
  color:#c3423fff;
}


/* .busdir h1 {
  background-color: #c3423fff; 
  color: #f5f5f5ff;
  border-bottom: 1px solid #eee;
  /* text-shadow: 0 0 15px #777; */
/* }   */
 

* .busdir{ 
  
  display: block;
  max-width: 1150px;
  margin: 0 auto;
  } 



/*----------- FOOTER --------------*/  
   .footer {
     display: flex;
     flex-flow: row wrap;
     padding: 50px;
     color: #fff;
     background-color: #1b546aff;
     margin-top: 10px;

   }

   hr {
     color: grey;
   }

   .footer>* {
     flex: 1 100%;
   }

   .l-footer {
     margin-right: 1.25em;
     margin-bottom: 2em;
   }


   .footer img {
     width: 100px;
   }

   .footer ul {
     list-style: none;
     padding-left: 0;
     text-align: center;
   }

   .footer li {
     line-height: 2em;
   }

   .footer a {
     text-decoration: none;
   }
   .footer a:link {
    color: #7ac74fff;
  }

  p#map a {
    color: #7ac74fff;
    text-decoration: underline;
    font:bold;
  }

  p#map a:hover {
    color: #f9a03fff;
    text-decoration: underline;
  }
  p#map a:link {
    color:#7ac74fff; 
      }    













































      CV-+X+-+
      -+
      ++
      ++
      -+

      +


      +

      +




































      +
      +


  }

   .r-footer {
     display: flex;
     flex-flow: row wrap;
   }

   .r-footer>* {
     flex: 1 50%;
     margin-right: 1.25em;
   }

   .box a {
     color: #999;
   }

   .h-box {
     column-count: 2;
     column-gap: 1.25em;
   }

   .b-footer {
     text-align: center;
     color: #999;
     padding-top: 50px;
   }

   .l-footer p {
     padding-right: 20%;
     color: #999;
   }

   footer a:link {
     color: #f5f5f5ff;
     background-color: transparent;
     text-decoration: none;
   }

   footer a:hover {
     color: #c3423fff;
     background-color: transparent;
     text-decoration: none;
   }

  